@font-face {
  font-family: mont;
  src: url(./public/fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: poppins;
  src: url(./public/fonts/Poppins-ExtraBold.ttf);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: mont;
  scroll-behavior: smooth;
}

:root{
  --Bball:#bb3a07;
}

body{
  width: 100%;
  height: 100vh;
  background-color: black;
  padding: 5px;
  overflow-y: hidden;
  
  
 
}

.wrapper{
  width: calc(100% - 10px);
  height: calc(100vh - 105px);
  overflow: scroll;
  top: 105px;
  position: fixed;
}

.wrapper::-webkit-scrollbar{
  display: none;
}

.wrapper > *{
  margin-top: 5px;
  border: 2px solid white;
  border-radius: 10px;
  padding: 40px 20px;
  background-color: var(--Bball);
}

nav{
  width: calc(100% - 10px);
  height: 100px;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 20px 40px;
  position: fixed;
  z-index: 1;
}

nav img{
  width: 80px;
  margin-bottom: 10px;
  
}

nav ul{
  display: flex;
  justify-content: space-between;
  width: 500px;
}


nav a{
  color: white;
  text-decoration: none;
  font-size: 1.3em;
  width: 150px;
  height: 40px;
  padding: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 500ms;
}

nav a:hover{
  border-bottom: 2px solid white;
}

main{
  width: 100%;
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2)), url(./public/images/img1.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
}

main img{
  width: 100px;
  height: 100px;
  position: relative;
  top: 20px;

}


main h1{
  height: fit-content;
  font-family: poppins;
  font-size: 6em;
  color: white;
  text-shadow: 5px 5px black;
  text-align: center;
}

main span{
  font-family: poppins;
  color: #bb3a07;
}

main a{
  padding: 10px 25px;
  background-color: #bb3a07;
  border: 3px solid;
  box-shadow: 5px 5px;
  margin-top: 20px;
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

main a:hover{
  translate: 5px 5px;
  box-shadow: none;
}

main a p{
  font-size: 1.4em;
  font-weight: 700;
}

.achievements{
  width: 100%;
  background-color: #bb3a07;
  display: flex;
  justify-content: center;
}

.achievements h1{
  border: 3px solid;
  padding: 10px 30px;
  box-shadow: 5px 5px ;
  font-size: 1.5em;
  text-align: center;
}




.about{
  background-color: var(--Bball) ;
  
 

}

.history{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history h1, .team h1{
  width: fit-content;
  padding: 5px 10px;
  text-align: center;
  border: 3px solid;
  box-shadow: 5px 5px;
  margin-bottom: 10px;
}

.history img{
  display: none;
}

.history p{
  font-weight: 600;
  width: 80%;
}

.team{
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.team .image{
  width: 500px;
  height: 350px;
  border: 3px solid;
  margin-bottom: 20px;
  text-align: center;
  padding: 120px 0;
  font-size: 1.2em;
  font-weight: 600;
}

.slides{
  display: none;
  flex-direction: column;
  align-items: center;
}

.text{
  font-size: 1.2em;
  padding: 10px 20px;
  border: 3px solid;
  box-shadow: 5px 5px;
  width: fit-content;
  text-align: center;
  font-weight: 700;
} 

.dot{
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block; 
  transition: background-color 0.6s ease;
}

.active, .dot:hover{
  background-color: #717171;
}

.fade{
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade{
  from{opacity: .4}
  to {opacity: 1}
}

.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact div{
  padding: 20px;
  border: 3px solid;
  box-shadow: 10px 10px;
}



.contact p{
  font-size: 1.2em;
  font-weight: 600;
}

.contact ul{
  margin: 15px; 
  text-align: center;
}

.contact li{
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.contact .icon{
  width: 25px;
  height: 25px;
  
}

.contact .socials{
  display: flex;
  width: 200px;
  justify-content: space-between;
}

.contact a{
  color: black;
  padding: 5px;
  border: 3px solid black;
  box-shadow: 5px 5px;
  margin-bottom: 0px;
  transition: 500ms;
}

.contact a:hover{
  background-color: white;
  box-shadow: 0px 0px;
}


footer{
  background-color: var(--Bball);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  
}

footer .copyright{
  text-align: center;
  font-weight: 600;
}

footer ul{
  display: flex;
  width: 120px;
  justify-content: space-between;
  margin-top: 10px;
 
}

footer ul a{
  color: black;
  transition: color 500ms;
}

footer ul a:hover{
  color: white;
}

footer ul .icons{
  width: 20px;
  height: 20px;
}



@media screen and (max-width: 700px){
  nav{
    padding: 0 10px;
  }
  nav img{
    width: 60px;
  }

  nav ul{
    width: 270px;
  }
  
  nav a{
    font-size: 0.8em;
    width: 70px;
  }


  main{
    height: 80vh;
  }

  main h1{
    font-size: 3.5em;
    
  }

  main a p{
    font-size: 1em;
  }

 

  .history{
    width: 100%;
  }
  .history img{
    display: block;
    width: calc(100% - 40px);
    border: 3px solid ;
    margin-bottom: 20px;
    
  }

  .history h1, .team h1{
    font-size: 1.5em;
  }

  .contact div{
    padding: 20px 10px;
  }

  .contact p{
    font-size: 0.8em;
  }

  .contact h1{
    font-size: 1.5em;
  }

  .contact h2{
    font-size: 1.2em;
  }

  .contact ul{
    margin: 10px 0px;
  }

  
}