@font-face {
  font-family: mont;
  src: url(./public/fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: poppins;
  src: url(./public/fonts/Poppins-ExtraBold.ttf);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: mont;
  scroll-behavior: smooth;
}

:root{
  --Bball:#bb3a07;
}

body{
  width: 100%;
  height: 100vh;
  background-color: black;
  padding: 5px;
  overflow-y: hidden;
  
  
 
}

.wrapper{
  width: calc(100% - 10px);
  height: calc(100vh - 105px);
  overflow: scroll;
  top: 105px;
  position: fixed;
}

.wrapper::-webkit-scrollbar{
  display: none;
}

.wrapper > *{
  margin-top: 5px;
}

nav{
  width: calc(100% - 10px);
  height: 100px;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 20px 40px;
  position: fixed;
  z-index: 1;
}

nav img{
  width: 80px;
  margin-bottom: 10px;
  
}

nav ul{
  display: flex;
  justify-content: space-between;
  width: 500px;
}


nav a{
  color: white;
  text-decoration: none;
  font-size: 1.3em;
  width: 150px;
  height: 40px;
  padding: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 500ms;
}

nav a:hover{
  border-bottom: 2px solid white;
}

main{
  width: 100%;
  height: 80vh;
  border-radius: 10px;
  border: 2px solid white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2)), url(./public/images/img1.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
}

main img{
  width: 100px;
  height: 100px;
  position: relative;
  top: 20px;

}


main h1{
  height: fit-content;
  font-family: poppins;
  font-size: 6em;
  color: white;
  text-shadow: 5px 5px black;
  text-align: center;
}

main span{
  font-family: poppins;
  color: #bb3a07;
}

main a{
  padding: 10px 25px;
  background-color: #bb3a07;
  border: 3px solid;
  box-shadow: 5px 5px;
  margin-top: 20px;
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

main a:hover{
  translate: 5px 5px;
  box-shadow: none;
}

main a p{
  font-size: 1.4em;
  font-weight: 700;
}

.achievements{
  width: 100%;
  padding: 40px 20px;
  background-color: #bb3a07;
  border-radius: 10px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
}

.achievements h1{
  border: 3px solid;
  padding: 10px 30px;
  box-shadow: 5px 5px ;
  font-size: 1.5em;
  text-align: center;
}




.about{
  background-color: var(--Bball) ;
  border: 2px solid white;
  border-radius: 10px;
  margin-top: 5px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.about h1{
  width: fit-content;
  padding: 5px 10px;
  text-align: center;
  border: 3px solid;
  box-shadow: 5px 5px;
  margin-bottom: 10px;
}

.about img{
  display: none;
}

.about p{
  font-weight: 600;
  width: 80%;
}

/* .achievements{
  width: 39%;
  height: ;
  border-radius: 10px;
  border: 2px solid white;
  background-color: var(--Bball);
} */



@media screen and (max-width: 700px){
  nav{
    padding: 0 10px;
  }
  nav img{
    width: 60px;
  }

  nav ul{
    width: 300px;
  }
  
  nav a{
    font-size: 1em;
    width: 70px;
  }


  main{
    height: 70vh;
  }

  main h1{
    font-size: 3.5em;
    
  }

  main a p{
    font-size: 1em;
  }

  section{
    flex-direction: column-reverse;
  }

  .about{
    width: 100%;
  }
  .about img{
    display: block;
    width: calc(100% - 40px);
    border: 3px solid ;
    margin-bottom: 20px;
  }

  .about h1{
    font-size: 1.5em;
  }

  
}